.App {
  text-align: center;
  color: white;
  background-color: #6e9dfa;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 50s linear;
  }
}

.App-header {
  min-height: 30vh;
  font-size: calc(10px + 3vmin);
}

.App-content {
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: top;
  font-size: calc(10px + 1.5vmin);
  text-align: left;
}

.App-content-left {
  padding-right: 1vw;
  padding-left: 10vw;
  min-width: 35vw;
}

.App-content-right {
  padding-left: 1vw;
  padding-right: 5vw;
  min-width: 40vw;
}

.App-footer {
  min-height: 10vh;
  font-size: calc(10px + 1vmin);
}

.Copyright {
  font-size: calc(10px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
